<div class="container text-center auth-page">
  <h2>Sign up</h2>
  <div class="row mt-4">
    <div class="col-md-4 mx-auto">
      <form action="/auth/signup" method="POST">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">&#129464;</span>
          </div>
          <input name="username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">	&#128273;</span>
          </div>
          <input name="password" type="password" minlength="6" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" required>
        </div>
        <button type="submit" class="btn btn-success">Sign up</button>
      </form>
    </div>
  </div>
</div>
