<div class="container text-center mt-5">
  <div class="row landing-section">
      <div class="d-none d-md-block col-md-6">
        <img src="/img/betterworld.svg" alt="landing" id="home-img" class="img-fluid">
      </div>
      <div class="col-12 col-md-6">
        <h1 class="display-3 mt-4" id="header-text">good.sg</h1>
        <a href="/public-posts" class="btn btn btn-success mt-3 landing-btn-custom" id="public-btn">Be inspired</a>        
      </div>
    </div>

  <section class="intro">
  <div class="row">
    <div class="col-12 col-md-6">
      <h1 class="display-4">doing good for singapore</h1>
      <h6 class="lead">it's easier than you think!</h6>
    </div>
    <div class="col-8 col-md-6 mx-auto">
      <img src="/img/street.svg" alt="landing" id="home-img" class="img-fluid">
    </div>
  </div>
</section>

<section id="about"> 
  <div class="row">
    <div class="col-8 col-md-6 mx-auto">
      <img src="/img/stars.svg" alt="superhero" id="home-img" class="img-fluid">  
    </div>
    <div class="col-12 col-md-6 mx-auto">
      <h1 class="display-4">do you...</h1>
      <ul class="text-left lead ml-2">
        <li>...always return your NTUC trolley? 
        </li>
        <li>...keep your volume down on public transport?</li>
        <li>...signal when changing lanes?</li>
        <li>...share meals to reduce food wastage?</li>

      </ul> 
    </div>
  </div>
</section>

<section id="about"> 
  <div class="row">
    <div class="col-12 col-md-6">
      <h1 class="display-4">the little things do count.</h1>
      <h6 class="lead">let's make singapore a great place to live in!</h6>
      <div class="cta-btns mb-5">
        <a href="/auth/signin" class="btn btn-sm btn-outline-success mt-2 outline-btn-custom">Sign in</a>        
        <a href="/auth/signup" class="btn btn-sm btn-outline-success mt-2 landing-btn-custom">Sign up</a>        
      </div>
    </div>
      
    <div class="col-8 col-md-6 mx-auto">
      <img src="/img/home.svg" alt="landing" id="home-img" class="img-fluid">  
    </div>
  </div>
</section>
</div>
