<div class="container text-center mt-5">
  <h2>homepage</h2>
  <img src="/img/superhero.svg" alt="superhero" style="width: 100px;">

  <div class="mt-5">
    <a href="/public-posts" class="btn btn-secondary">View</a>
    <a href="/auth/signin" class="btn btn-info">Sign in</a>
  </div>
  
</div>
