<div class="container text-center mt-5">
  <h2>doing good for singapore</h2>
  <img src="/img/superhero.svg" alt="superhero" style="width: 100px;">

  <div class="mt-5">
    <a href="/public-posts" class="btn btn-lg btn-secondary">Be inspired</a>
  </div>

  
</div>
