
<div class="container text-center">
  <div class="row mt-4">
    <div class="col-md-10 mx-auto">
      <h3>Some inspiration from our users</h3>
      <% allPosts.slice().reverse().forEach((post)=>{ %>
        <div class="card">
          <div class="card-body">
            <p class="card-subtitle mb-2 text-muted small text-left"><%= post.postDate %></p>
            <p class="text-left"><span class="font-weight-bold"><%= post.author.username %>: </span><span class="post-text"><%= post.text %></span></p>
            <span class="badge badge-pill"><%= post.category.name %></span>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</div>
