@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } 
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } 
}

#header-text {
  animation: moveInTop 1s ease-out; 
}

#public-btn, #load-posts {
  animation: moveInBottom 1s ease-out; 
}

.input-card {
  box-shadow: 1px 1px 1px 1px #acacacb0;
}

.select-custom {
  font-size: .7rem;
  color: #05bb85;
}

.landing-btn-custom, .post-btn-custom {
  border-color: #05bb85;
  background-color: #05bb85;
  color: white;
}

.landing-btn-custom:hover, .post-btn-custom:hover {
  border-color: #00aa95;
  background-color: #00aa95;
}

.outline-btn-custom {
  border-color: #05bb85;
}

.outline-btn-custom:hover {
  border-color: #00aa95;
  background-color: #00aa95;
  color: white;
}

.post-btn-custom {
  font-weight: bold;
  color: white;
}

.post-btn-custom:hover {
  color: white;
}

.select-custom:hover {
  color: #00aa95;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

ul {
  list-style: none;
  font-size: 1rem !important;
}

section {
  min-height: 80vh;
  opacity: 0;
  transition: opacity 1s;
  transform: translate(0, 80px);
  transition: all 1.5s;
}
  
section.visible { 
opacity: 1;
transform: translate(0, 0);
}

footer {
  padding: 0 0 !important;
  margin-top: 15px;  
}

.footer-text {
  font-weight: bold;
  opacity: .8;
  font-size: 0.6rem;
  line-height: 0.5rem;
}

.landing-section {
  min-height: 100vh;
}

.full-page {
  min-height: 79vh;
}

.navbar-custom::after {
  content: " ";
  white-space: pre;
}

.navbar-custom::before {
  content: " ";
  white-space: pre;
}

.navbar-custom {
  background-color: #05bb85;
  padding-bottom: 6px;
  color: white;
}

.navbar-custom:hover {
  background-color: #00aa95;
  color: white !important;
  transition: .5s;
}

.nav-link:hover {
  color: #00aa95 !important;
}

.delete-btn {
  all: unset;
  float: right;
  color: rgb(221, 85, 85);
}

.delete-btn:hover {
  color: rgb(134, 49, 49);
}

.link-btn {
  all: unset;
  display: block;
  text-decoration: underline;
  color: #69b96c;
  font-size: 0.7rem;
}

.img-thumbnail {
  max-width: 100px;
}

.avatar-div {
  margin-right: 20px;
}

.badge {
  float: left;
  background-color: #05bb85;
  color: white;
}

.badge:hover {
  background-color: #7cd48c;
  color: white;
}

.action-div {
  margin-top: -10px;
  padding-left: auto;
}

