@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } 
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } 
}

#header-text {
  animation: moveInTop 1s ease-out; 
}

#public-btn, #load-posts {
  animation: moveInBottom 1s ease-out; 
}

ul {
  list-style: none;
  font-size: 1rem !important;
}

section {
  min-height: 80vh;
  opacity: 0;
  transition: opacity 1s;
  transform: translate(0, 80px);
  transition: all 1.5s;
}
  
section.visible { 
opacity: 1;
transform: translate(0, 0);
}

footer {
  padding: 0 0 !important;
}

.landing-section {
  min-height: 100vh;
}

.auth-page {
  min-height: 79vh;
}

.delete-btn {
  all: unset;
  float: right;
  color: rgb(221, 85, 85);
}

.delete-btn:hover {
  color: rgb(134, 49, 49);
}

.link-btn {
  all: unset;
  display: block;
  text-decoration: underline;
  color: #468348;
  font-size: 0.7rem;
}

.img-thumbnail {
  max-width: 100px;
}

.avatar-div {
  margin-right: 20px;
}

.badge {
  float: left;
  background-color: #a9c06d;
  color: white;
}

.badge:hover {
  background-color: #468348;
  color: white;
}

.action-div {
  margin-top: -10px;
  padding-left: auto;
}

